.special1 {
    @media screen and (min-width:#{$desktop}) {
        @include position(flex, row, center, center, center);
        max-width: 1200px;

        .imgcontainer {
            @include position(flex, column, center, center, center);

            img {
                width: 100%;
                max-width: 400px;
            }
        }

        div {
            width: 50%;
            text-align: start;
        }

    }
}
.special2{
    @media screen and (min-width:#{$desktop}) {
        @include position(flex, row, flex-start, flex-start, center);
        max-width: 1000px;
        margin: auto;
        img{
            max-width: 300px;
        }
        p{
            height: 220px;
            margin: 10px 20px 0 20px;
        }
        button{
            margin-bottom: 40px;
        }
    }

}
.special3{
    @media screen and (min-width:#{$desktop}) {
        max-width: 1000px;
        margin: auto;
    }
}