@import 'variables';
@import 'header';
@import 'footer';
@import 'mixins';
@import 'specialSlide';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.titulo {
    color: map-get($colors, tercero);
    padding: 2px;
    margin: 5px 0;
}

.carousel-inner {
    max-height: 30rem;
    background-position: center;
}

h1 {
    color: map-get($colors, tercero);
}

h2 {
    @extend .titulo;
    font-size: 1.2em;
}

.slideprincipal {
    @include position(flex, column, center, center, center);
    color: white;
    width: 100vw;
    height: 40vh;
    max-height: 50vh;


    ul {
        list-style: none;
        margin: auto;
        padding: 0;
    }

    background: {
        image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/3.png);
        position: center;
        repeat: no-repeat;
        size: cover;
    }

    h1 {
        color: white;
        font-size: 2em;
        padding: 4px;
    }

    h2 {
        color: white;
        font-size: 1.3em;
    }

    @media screen and (min-width:#{$tablets}) {
        font-size: 1.3em;
        height: 40vh;

        ul {
            @include position(flex, row, center, center, center);

            li {
                padding: 10px;
            }
        }
    }
    @media screen and (min-width:#{$desktop}){
            height: 400px;
            max-height: 1000px
    }
}

.slideSecundario {
    @include position(flex, column, center, center, center);
    margin: auto;
    width: 90vw;
    padding: 4px;
    margin-top: 4px;

    img {
        width: 90vw;
        max-width: 600px;
    }

    h3 {
        @extend .titulo;
        font-size: 2.3rem;
    }

    ul {
        list-style: none;
        font-weight: bold;
    }

    button {
        @include btnclassic();
        margin: 15px 0px;
        font-size: 20px;
    }
    @media screen and (min-width:#{$desktop}){
        max-width: 1100px;
}
}

.btnContact {
    @include btnclassic();

}

.tercerSlide {
    @include position(flex, column, center, center, center);
    margin: auto;

    div {
        h2 {
            @extend .titulo;
            font-size: 2rem;
            margin: 20px 0px;
        }
    }

    .card {

        border-radius: 20px;
        background: #f5f5f5;
        border: 2px solid #c3c6ce;
        transition: 0.5s ease-out;
        overflow: visible;
        margin: 20px 0;
        width: 80vw;
        height: 400px;
        max-width: 389px;

        &:hover {
            border-color: map-get($colors, tercero);
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);

        }

        div {
            img {
                width: 250px;
                border-radius: 20px;
                margin-top: 15px;

            }
        }

        div {
            height: 50%;
            @include position(flex, column, center, center, center);

            h3 {
                color: map-get($colors, segundo);
                font-size: 2em;
            }

            p {
                font-size: 1.2em;
                margin: 5px
            }

            a {
                @include btnclassic();
                margin-bottom: 5px;
            }
        }
    }

    @media screen and (min-width:#{$tablets}) {
        .cardcc {
            width: 90vw;
            height: auto;
            @include position(flex, column, center, center, center);

            .card {
                @include position(flex, row, center, center, center);
                width: 100%;
                height: auto;
                padding: 10px;
                margin: 15px 10px;

                div {
                    width: 50%;
                    height: 90%;

                    img {
                        width: 100%;
                        margin: 0;
                    }
                }

                div {
                    width: 50%;
                }
            }
        }
    }

    @media screen and (min-width:#{$desktop}) {
        max-width: 1100px;
        .cardcc{
            @include position(flex, row, center, center, center);
            height: 500px;
            .card{
                @include position(flex, column, center, center, center);
                height: 400px;
                div{
                    width: 80%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@import 'specialSlide';
.whatsapp-fixed img{
    vertical-align: top;
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 23px;
    animation-name: animWhatsapp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    @keyframes animWhatsapp {
        0%{
            transform: scale(1, 1) rotate(0deg);
        }
        50%{
            transform: scale(0.85, 0.85) rotate(5deg);
        }
    }
}